.loginbox {
    .ant-input,.ant-input-password {
        background-color: rgba(255,255,255,0);
        border-color: #1890ff;
        color: #fff;
    }
    .ant-input-password-icon.anticon{
        color: #1890ff;
    }
}