$color:#fcf;
body {
    background-color: $color;
    //禁用文字选中
    user-select: none;
}
#root,body,html {
    height: 100% !important; 
}
img {
    //禁止拖动图片
    -webkit-user-drag: none;
}

//首页布局样式
 .logo {
  position: relative;
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
    background-image: url(../钻石.png);
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: 10px 5px;
  }
  .logoName{
    // height: 32px;
    color: white;
    line-height: 32px;
    margin: 0 0 0 40px;
    font-size: 13px;
  }
  .zuanshi{
    position: absolute;
  }
  
  .site-layout .site-layout-background {
    background: #fff;
  }